### **Some Important Series Methods**

In [1]:
import pandas as pd
import numpy as np

In [13]:
vk = pd.read_csv('kohli_ipl.csv', index_col='match_no', squeeze=True)
movies = pd.read_csv('bollywood.csv', index_col='movie', squeeze=True)
subs = pd.read_csv('subs.csv', squeeze=True)

C:\Users\dhanr\AppData\Local\Temp\ipykernel_21396\1414728384.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  vk = pd.read_csv('kohli_ipl.csv', index_col='match_no', squeeze=True)
C:\Users\dhanr\AppData\Local\Temp\ipykernel_21396\1414728384.py:2: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  movies = pd.read_csv('bollywood.csv', index_col='movie', squeeze=True)
C:\Users\dhanr\AppData\Local\Temp\ipykernel_21396\1414728384.py:3: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  subs = pd.read_csv('subs.csv', squeeze=True)

In [6]:
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [15]:
# astype
import sys
sys.getsizeof(vk)

3584

In [16]:
sys.getsizeof(vk.astype('int16'))

1004

In [17]:
# clip
subs.clip(100, 200)

0      100
1      100
2      100
3      100
4      100
      ...
360    200
361    200
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [24]:
# drop_duplicates
temp = pd.Series([1, 1, 2, 2, 3, 3, 4, 4])
temp

0    1
1    1
2    2
3    2
4    3
5    3
6    4
7    4
dtype: int64

In [20]:
temp.drop_duplicates()

0    1
2    2
4    3
6    4
dtype: int64

In [23]:
temp.drop_duplicates(keep='last')

1    1
3    2
5    3
7    4
dtype: int64

In [25]:
temp.duplicated().sum()

4

In [35]:
temp = pd.Series([1, 2, 3, np.nan, 5, 6, np.nan, 8, np.nan, 10])
temp

0     1.0
1     2.0
2     3.0
3     NaN
4     5.0
5     6.0
6     NaN
7     8.0
8     NaN
9    10.0
dtype: float64

In [27]:
temp.size

10

In [29]:
temp.count()

7

In [32]:
# isnull
vk.isnull().sum()

match_no    0
runs        0
dtype: int64

In [33]:
temp.isnull().sum()

3

In [34]:
# dropna
temp.dropna()

0     1.0
1     2.0
2     3.0
4     5.0
5     6.0
7     8.0
9    10.0
dtype: float64

In [36]:
# fillna
temp.fillna(0)

0     1.0
1     2.0
2     3.0
3     0.0
4     5.0
5     6.0
6     0.0
7     8.0
8     0.0
9    10.0
dtype: float64

In [47]:
vk

     match_no  runs
0           1     1
1           2    23
2           3    13
3           4    12
4           5     1
..        ...   ...
210       211     0
211       212    20
212       213    73
213       214    25
214       215     7

[215 rows x 2 columns]

In [8]:
# isin
vk[vk.isin([49, 99])]

match_no
82    99
86    49
Name: runs, dtype: int64

In [17]:
movies.apply(lambda x: x.split()[0].upper())

movie
Uri: The Surgical Strike                  VICKY
Battalion 609                             VICKY
The Accidental Prime Minister (film)     ANUPAM
Why Cheat India                          EMRAAN
Evening Shadows                            MONA
                                         ...
Hum Tumhare Hain Sanam                     SHAH
Aankhen (2002 film)                     AMITABH
Saathiya (film)                           VIVEK
Company (film)                             AJAY
Awara Paagal Deewana                     AKSHAY
Name: lead, Length: 1500, dtype: object

In [19]:
subs.apply(lambda x: 'good day' if x > subs.mean() else 'bad day')

0       bad day
1       bad day
2       bad day
3       bad day
4       bad day
         ...
360    good day
361    good day
362    good day
363    good day
364    good day
Name: Subscribers gained, Length: 365, dtype: object